@import "tailwindcss";


@theme {
    --color-LightGray: #E5E7EB;
    --color-CoolBlue: #f0f6fC;
    --color-PaleBiege: #FAF3E0;

}



.home {
    @apply  w-full flex flex-row min-h-screen max-xl:max-h-screen md:px-12;
}

.home-content {
    @apply  flex flex-1 flex-col w-full gap-6 sm:px-5 lg:py-12 xl:max-h-screen overflow-hidden; 
}

.home-header {
    @apply flex flex-col justify-between gap-8;
}

.header-box {
    @apply flex w-full flex-col gap-4 rounded-xl sm:gap-6 sm:p-6;
}

.header-h1 {
    @apply text-2xl font-semibold text-gray-900;
}

.bankGradient {
    @apply bg-linear-to-r from-indigo-950 via-blue-800 to-blue-700 text-transparent bg-clip-text;
}

.bankText {
    @apply text-2xl font-serif py-4;
}

.balance-account {
    @apply shadow-md flex flex-col md:flex-row w-full border border-gray-200 rounded-xl sm:gap-6 sm:p-6 justify-around items-center;
}

.balance-chart {
    @apply flex size-full max-w-[100px] items-center gap-4 sm:max-w-[120px] flex-col md:flex-row;
}

.header-2 {
    @apply flex justify-center text-3xl font-semibold;
}

.balance-label {  
    @apply flex justify-between text-4xl font-medium text-gray-500; 
}

.total-balance {
    @apply flex-1 text-4xl font-semibold py-4 text-gray-600;
}