@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
    --color-navy: #211C84;
    --color-navysky: #4D55CC;
    --color-coldsky: #7A73D1;
    --color-lightnavy: #B5A8D5;
    --color-yellow: rgb(255, 178, 0);
    --color-yellowred: rgb(182, 0, 113);
    --color-sunsetyellow: rgb(247, 197, 102);
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #dddddd;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5c5c7b;
    border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
}

@layer utilities {
    .input-class {
        @apply rounded-lg border border-gray-300 text-gray-900 placeholder:text-gray-500;
    }

    .sheet-content button {
        @apply focus:ring-0 focus-visible:ring-transparent focus:ring-offset-0 focus-visible:ring-offset-0 focus-visible:outline-none focus-visible:border-none;
    }

    .text14_padding10 {
        @apply px-4 py-2.5 font-semibold;
    }

    .flex-center {
        @apply flex items-center justify-center;
    }

    .header-2 {
        @apply font-semibold text-gray-900;
    }

    .text-10 {
        @apply text-[10px] leading-[14px];
    }

    .text-12 {
        @apply text-[12px] leading-[16px];
    }

    .text-14 {
        @apply text-[14px] leading-[20px];
    }

    .text-16 {
        @apply text-[16px] leading-[24px];
    }

    .text-18 {
        @apply text-[18px] leading-[22px];
    }

    .text-20 {
        @apply text-[20px] leading-[24px];
    }

    .text-24 {
        @apply text-[24px] leading-[30px];
    }

    .text-26 {
        @apply text-[26px] leading-[32px];
    }

    .text-30 {
        @apply text-[30px] leading-[38px];
    }

    .text-36 {
        @apply text-[36px] leading-[44px];
    }

.home {
@apply  flex w-full flex-row max-xl:max-h-screen;
}

.home-content {
@apply  flex w-full flex-1 flex-col gap-8 px-5 sm:px-8 py-7 lg:py-12 xl:max-h-screen;
}

.home-header {
    @apply flex flex-col justify-between gap-8;
}

.header-box {
    @apply flex w-full flex-col gap-4 rounded-xl sm:gap-6 sm:p-6;
}

.header-h1 {
    @apply text-2xl font-semibold text-gray-900;
}

.bankGradient {
    @apply bg-linear-to-r from-indigo-950 via-blue-800 to-blue-700 text-transparent bg-clip-text;
}

.bankText {
    @apply text-2xl font-serif py-4;
}

.balance-account {
    /* @apply shadow-md flex flex-col md:flex-row w-full border border-gray-200 rounded-xl sm:gap-6 sm:p-6 justify-around items-center; */
    @apply flex w-full items-center gap-4 rounded-xl border border-gray-200 p-4 shadow-md sm:gap-6 sm:p-6;
}

.balance-chart {
    /* @apply flex size-full max-w-[100px] items-center gap-4 sm:max-w-[120px] flex-col md:flex-row; */
    @apply flex size-full max-w-[100px] items-center sm:max-w-[120px];
}

.header-2 {
    @apply flex justify-center text-3xl font-semibold;
    /* @apply flex flex-col justify-between gap-8; */
}

.balance-label {  
    /* @apply flex justify-between text-4xl font-medium text-gray-500; */
    @apply  flex-1 font-semibold text-gray-900;
}

.total-balance {
    /* @apply flex-1 text-4xl font-semibold py-4 text-gray-600; */
    @apply text-3xl lg:text-4xl flex-1 font-semibold text-gray-900;
}

/* .sidebar {
    @apply sticky left-0 top-0 flex h-screen w-fit flex-col justify-between border-r border-gray-200 bg-white pt-8 text-neutral-700 max-md:hidden sm:p-4 xl:p-6 2xl:w-[355px]; */

.sidebar {
    @apply sticky left-0 top-0 flex h-screen w-fit flex-col justify-between border-r border-neutral-200 bg-white pt-8 text-neutral-800 max-md:hidden p-4 xl:p-6 2xl:w-[355px];
}

.sidebar-label{
    @apply font-serif text-neutral-900 max-xl:hidden ;
}

.right-sidebar {
    @apply hidden h-screen max-h-screen flex-col border-l border-gray-200 xl:flex w-[355px];
}

 .profile-banner {
     @apply h-[160px] rounded-t-lg w-full bg-gradient-to-r from-navy to-navysky via-coldsky bg-cover bg-no-repeat;
 }

  .profile {
      @apply relative flex px-6 max-xl:justify-center;
  }

   .profile-img {
       @apply flex items-center justify-center absolute -top-8 size-24 rounded-full bg-gray-100 border-8 border-white p-2 shadow-md;
   }

   .profile-details {
       @apply flex flex-col pt-20 font-serif;
   }

   .profile-name {
       @apply  font-semibold text-gray-900 font-serif text-2xl;
   }

   .profile-email {
       @apply  font-normal text-gray-600;
   }

    .banks {
        @apply flex flex-col justify-between gap-8 px-6 py-8;
    }

         /* Bank Card */
    .bank-card {
        @apply relative flex h-[190px] w-full max-w-[300px] justify-between rounded-[20px] border border-neutral-200 bg-gradient-to-r from-amber-600 to-amber-800 via-amber-950 shadow-md shadow-neutral-700 backdrop-blur-[6px];
    }

    .bank-card_content {
        @apply relative z-10 flex size-full max-w-[228px] flex-col justify-between rounded-l-[20px] bg-gradient-to-l from-neutral-700 to-gray-600 via-slate-900  px-8 pb-4 pt-5;
    }

    .bank-card-icon {
        @apply flex justify-between flex-col flex-1 items-end rounded-r-[80px] size-full bg-gradient-to-bl from-yellow to-yellowred via-sunsetyellow;
    }
    
        /* My Banks */
    .my-banks {
        @apply flex h-screen max-h-screen w-full flex-col gap-8 bg-gray-300 p-8 xl:py-12;
    }

    .header-2 {
        @apply font-bold font-serif text-2xl;
    }

 /* .cols {
    @apply bg-gradient-to-r from-navy to-navysky via-coldsky;
 } */

/* .sidebar-label-2 {
    @apply absolute left-12 whitespace-nowrap opacity-0 scale-95 px-3 py-1 rounded-lg bg-gray-800 text-sm transition-all duration-300 group-hover:opacity-100 group-hover:scale-100 group-hover:translate-x-4 text-neutral-200;
}
  */

  .mobilenav-sheet {
      @apply flex h-[calc(100vh-72px)] flex-col justify-between overflow-y-auto;
  }

   .mobilenav-sheet_close {
       @apply flex gap-3 items-center p-4 rounded-lg w-full max-w-60 mx-3;
   }
}
:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);

}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);

}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

}

@layer base {
  * {
    @apply border-border outline-ring/50;

    }
  body {
    @apply bg-background text-foreground;

    }

}

.auth-form {
    @apply flex min-h-screen h-fit w-full max-w-[520px] flex-col justify-center gap-5 px-4 py-10 md:gap-8 shadow-md;
}

.form-item {
    @apply flex flex-col gap-1.5 
}

.form-label {
    @apply w-full text-2xl text-neutral-700 font-medium;
}